.banner{
    background-image: url(../images/dried-fruit-healthy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 350px;
    padding-bottom: 100px;
    padding-left: 750px;
}
h5{
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
    padding: 60px;
    color: #fff;
    font-size: 1.2em;
}